body {
    /*background-color: #050608;*/
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", "\6E38\30B4\30B7\30C3\30AF\4F53", "YuGothic", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}
/*---------------------------------
 POPUP
---------------------------------*/
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  .popup-inner img {
    width: 100%;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }



/*---------------------------------
 SIMPLE
---------------------------------*/
.simple{
    width:100%;
}
.simple .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
.simple .content {
    padding:50px;
    text-align:center;
}
.simple .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
/*---------------------------------
　MAP
---------------------------------*/
.map{
    width:100%;
    background-color:#fafafa;
    /*background-color: #050608;*/

}
.map .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
@media (min-width: 992px) {
    .map .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.map .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .map .content-item {
        width:50%;
    }
}
.map .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.map .text{
    padding:50px;
}
.map .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
/*---------------------------------
 INTRO
---------------------------------*/
.intro{
    width:100%;
    /*background-color: #050608;*/
}
.intro .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
@media (min-width: 992px) {
    .intro .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
    .intro .content {
        flex-direction:row-reverse;
    }
}
.intro .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .intro .content-item {
        width:50%;
    }
}
.intro .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.intro .text{
    padding:50px;
    /*color: #fff;*/
}
.intro .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

/*---------------------------------
 WORKS
---------------------------------*/
.works{
    width:100%;
}
.works .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
.works .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 992px) {
    .works .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.works .content .list-item {
    margin:50px 0px;
    padding:0px 50px;
    text-align:center;
}
@media (min-width: 992px) {
    .works .content .list-item {
        margin:0px;
        width:calc(100% / 3);
    }
}
.works .content .list-item .image{
    display:block;
    width:100%;
    max-width:300px;
    margin:0px auto 20px auto;
    border-radius:100%;
}
.works .content .list-item .text{
    line-height:1.8rem;
    font-size:0.8rem;
    color:#666666;
}

/*---------------------------------
 BACK
---------------------------------*/
/*.back{
    width:100%;
    background-image:url(img/IMG_2810.JPG);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}*/
.back{
    background: url(img/IMG_2830.JPG) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
.back:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}
.back .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
.back .content .heading{
    margin:0px 0px 40px 0px;
    color:#ffffff;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 992px) {
    .back .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.back .content .list-item {
    padding:30px;
    line-height:1.8rem;
    color:#ffffff;
    text-align:center;
}
@media (min-width: 992px) {
    .back .content .list-item {
        width:50%;
    }
}
